body {
    font-family: Arial, sans-serif;
  }
  
  .converter {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(177, 198, 91);
  }
  
  .input-container {
    margin-bottom: 15px;
  }
  
  label {
    display: inline-block;
    width: 80px;
  }
  
  input[type="number"], select {
    width: 200px;
    padding: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #110f0f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
  }
  